<% lat = lat || 38.963649 %>
<% lng = lng || 1.38938 %>
<div id="j-admin-addresses-map" class="admin-addresses-map" data-lat="<%= lat %>" data-lng="<%= lng %>" data-draggable="<%= defined?(draggable) ? draggable : false %>"></div>
