<section class="row login u-fullHeight--strict">
    <div class="columns small-9 small-centered u-verticalAlign--center">
        <%= sprite_tag('logo-icon', classes: 'login-logoIcon') %>
        <%= sprite_tag('logo', classes: 'login-logo') %>
        <div class="login-form">
            <%= render 'form' %>
            <%= render "devise/shared/links" %>
        </div>
    </div>
</section>
