<p>
  Dear <%= @user.first_name %>, <br/>
  Thank you for your application to become a member of SIte. <br/>
  I am pleased to tell you that your registration is now complete. <br/>
  Please use your password to access the site. <br/>
</p>